@import url(https://fonts.googleapis.com/css?family=Walter+Turncoat);


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


h2 {
  color: white;
  font-family: "Walter Turncoat", cursive;
  font:"Walter Turncoat", cursive;
   }

   table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 25px;
    border-spacing: 5px;
    align-content: center
    

  }

  td.batchform { 
    width:150px; 
    text-align:center; 
    border:1px solid black; 
    padding:5px 
  
} 
 
  table.center {
    margin-left:auto; 
    margin-right:auto;
  }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.rows .row {
  display: inline-block;
}
.who-cares {
  position: absolute; 
  left: 10%; 
  width: 80%; 
}
.react-autosuggest__suggestions-container--open {
  width: 100%;
  padding: 0 20px;
}
.react-autosuggest__input {
  width: 100%;
  padding: 10px 20px;
}


.TFtable{
  width:70%; 
  border-collapse:collapse; 
}
.TFtable td{ 
  padding:7px; border:#4e95f4 1px solid;
}
/* provide some minimal visual accomodation for IE8 and below */
.TFtable tr{
  background: #b8d1f3;
}
/*  Define the background color for all the ODD background rows  */
.TFtable tr:nth-child(odd){ 
  background: #b8d1f3;
}
/*  Define the background color for all the EVEN background rows  */
.TFtable tr:nth-child(even){
  background: #dae5f4;
}

.scrollable {
  height: 400px;
  overflow-y: scroll;
}